.Content {
    margin-top: 72px;
}

.Center {
    /* grid-column: 2; */
    grid-row: 2;
  }
  
  .Grid {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: repeat(1, 100px);
    grid-gap: 1em;
    grid-template-rows: auto;
  }

  .footer {
    bottom: 0;
  }
  
  header, footer {
    grid-column: 1 ;
  }