body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  /* grid-column: 2; */
  grid-row: 2;
}

.grid {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: repeat(1, 100px);
  grid-gap: 1em;
  grid-template-rows: auto;
}

.footer {
  bottom: 0;
}

header, footer {
  grid-column: 1 ;
}

/* .center > * {
  display: flex;
  align-items: center;
  justify-content: center;
} */
